* {
  box-sizing: border-box;
}

.game-container {
  position: relative;
  margin: 20px auto;
}

.game-container .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container .settings {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.game-container .title h1 {
  opacity: 0.5;
  margin-bottom: 0;
  font-size: 60px;
  text-transform: uppercase;
}

.game-container .tries p,
.game-container .timer p {
  opacity: 0.5;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.game-container .tries span {
  color: red;
}

.game-container .game {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: 20px auto;
}

.game-container .game-block {
  height: 200px;
  cursor: pointer;
  margin: 0 10px 20px;
  flex: 1 0 200px;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.game-container .game-block .face {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  border: 5px solid #2196f3;
  backface-visibility: hidden;
}

.game-container .game-block .front {
  background-color: #333;
  line-height: 200px;
}

.game-container .game-block .front::before {
  content: "?";
  color: #fff;
  font-size: 150px;
  font-weight: bold;
}

.game-container .game-block .back {
  background-color: #607d8b;
  transform: rotateY(180deg);
}

.game-container .game-block .back img {
  width: 80%;
  height: 80%;
  margin-top: 20px;
}

.game-container .game-block.is-flipped,
.game-container .game-block.has-match {
  transform: rotateY(180deg);
  pointer-events: none;
}

.game-container .game-block.has-match::before {
  content: "";
  background-color: blue;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
}

.game-container.no-clicking {
  pointer-events: none;
}

.game-container .next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
}

.game-container .next button {
  cursor: pointer;
}

@media (max-width: 620px) {
  .game-container .title h1 {
    font-size: 25px;
  }
  .game-container .tries p,
  .game-container .timer p {
    opacity: 0.5;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
  }
  .game-container .game-block .front::before {
    content: "?";
    color: #fff;
    font-size: 40px;
    font-weight: bold;
  }
}



@media (max-width: 500px) {
  .game-container .game {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .game-container .title h1 {
    font-size: 25px;
  }
  .game-container .tries p,
  .game-container .timer p {
    opacity: 0.5;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
  }
  .game-container .game-block .front::before {
    content: "?";
    color: #fff;
    font-size: 40px;
    font-weight: bold;
  }
}